<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">
	
	<div class="card bg-light">
		<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
		<div class="card-body">
	
		<form th:action="@{/views/egresosReceta/save}" th:object="${egresosReceta}" method="post">
		  
					
			
			<div class="form-group row">
				<label class="col-md-2" for="producto">Combo:</label> 
				<select th:field="*{receta}" class="form-control form-control-sm col-md-6" id="receta"> 
					<option th:each="receta:${recetas}"
						th:value="${receta.id}"
						th:text="${receta.nombre}"	
					/>					
				</select>
			</div>
			
			<div class="form-group row">
		
			
				<input type="hidden" th:field="*{id}">
				<label class="col-md-2" for="cantidad">Cantidad:</label> 
				<input type="text" th:field="*{cantidad}" class="form-control form-control-sm col-md-6" id="cantidad"
					placeholder="Ingrese cantidad"> 
					<small class="form-text text-danger" th:if="${#fields.hasErrors('cantidad')}"
						th:errors="*{nombres}">
					</small>
			</div>

			<div class="form-group row">
				<label class="col-md-2" for="fecha">Fecha Egreso:</label> 
				
				<input th:field="*{fecha}" type="date" id="fecha" name="fecha">	 
					<small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}"
						th:errors="*{fecha}">
					</small>
			</div>		
			
			
			<div class="card-footer bg-dark">
				<input type="submit" class="btn btn-primary btn-sm" value="Guardar">
			</div>
			
		</form>
		</div>
	</div>

	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>